#profil {
  text-align:center;
}

div.jumbotron {
  height:300px;
  margin-left:250px;
  width:500px;
  margin-left:30px;
  border-radius:30px;
  margin-bottom:-30px;
  padding:35px 10px 1px 10px;
  background:rgba(18,17,17,0.22);
}

img {
  height:200px;
  width:200px;
  border-radius:10px;
}

#goldarah {
  font-size:70px;
  margin-top:-25px;
}

#nama {
  margin-top:20px;
  font-size:30px;
}

p#button {
  margin-top:-20px;
}

a.btn.btn-default {
  color:rgb(179,57,57);
  background-color:rgb(0,0,0);
}

button.btn.btn-default {
  background:#ff0000;
  color:#fcf5f5;
  width:250px;
  border-radius:10px;
}

div#cek-darah {
  float:right;
  margin-right:30px;
  width:610px;
}

button#button-donor.btn.btn-default {
  width:400px;
  height:70px;
  margin-top:50px;
  font-size:30px;
}

button#button-butuh-darah.btn.btn-default {
  height:70px;
  width:400px;
  margin-top:50px;
  font-size:30px;
  background:red;
}

div#button-donor-cari {
  margin-top:40px;
}

body {
  background-image:url(body-image2.png);
  background-size:cover;
  background-attachment:fixed;
  background-size:100% 100%;
}

div#profil-dalam {
  background-color:white;
  height:180px;
  width:270px;
  border-radius:20px;
  margin-left:5px;
}

button#but.btn.btn-default {
  width:300px;
  height:50px;
  margin-top:160px;
}

div#drop.dropdown {
  height:40px;
}

ul.dropdown-menu.dropdown-menu-left {
  float:right;
  position:static;
}

div.class-drop {
  text-align:center;
}

ul.dropdown-menu {
  margin-left:160px;
}

div.jumbotron {
  margin-left:250px;
}

