.b-s {
  color:1px solid red;
  background-color:solid red;
  border:px solid red;
}

.donordarah {
  width:400px;
  height:220px;
  border:3px solid #e53b3b;
  margin-left:100px;
  margin-top:20px;
  border-radius:10px;
  background-color:#eef5f7;
  float:right;
}

.button {
  border:1px solid red;
  height:200px;
}

.butuhdarah {
  width:400px;
  height:220px;
  border:3px solid red;
  margin-left:50px;
  margin-top:20px;
  border-radius:10px;
  background-color:rgba(214,214,198,0.26);
}

