.clearmargin {
  margin:0px;
}

.clearpadding {
  padding:0px;
}

.row-image-txt {
  background-color:rgb(42,42,42);
}

.row-image-txt h1 {
  color:white;
}

.row-image-txt p {
  color:white;
}

.container .row .col-md-6 .col2 .col-dalam .button-1 {
}

.container .row #col-2 .col2 {
  height:330px;
  width:552px;
  background-color:#e53b3b;
}

.container .row #col-2 .col2 .col-dalam {
  background-color:white;
  width:500px;
  height:329px;
  margin-left:30px;
  padding:60px 10px 0px 10px;
}

.p1-1 {
  text-align:center;
  font-size:30px;
  margin-top:40px;
}

#back1 {
  width:600px;
  margin-right:50px;
}

.h3, h3 {
}

.profil-atas-1 {
  background:#e53b3b;
  width:540px;
  height:100px;
}

.col-dalam-1 {
  height:500px;
}

.profil-1 {
  text-align:center;
  font-size:60px;
}

